*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#ececec;
    padding-bottom: 70px;
}

header{
    background:#a7e3df;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-around;

    padding:0 20px;
}

.logo{
    height:50px;
}

header input{
    width:250px;
    height:35px;

    border:none;
    border-radius:20px;

    padding:0 15px;
}

.menu,
.perfil{
    font-size:30px;
    cursor:pointer;
}

.carrossel{
    width:100%;
    overflow-x:auto;
    margin-top:15px;
}

.slides{
    display:flex;
    gap:20px;
    padding:0 20px;
}

.slides img{
    width:600px;
    height:200px;
    object-fit:cover;
    border-radius:5px;
    flex-shrink:0;
}

h2{
    margin:20px 50px;
    color:#2c7a7b;
}

.produtos{
    width:85%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:10px;
}

.produto{
    background:white;
    border:1px solid #8ad1d1;
    height:120px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.produto img{
    max-width:80%;
    max-height:80%;
}

@media(max-width:768px){

    .produtos{
        grid-template-columns:repeat(3,1fr);
    }

    .slides img{
        width:300px;
        height:100px;
    }

}