body{
    background:#F5F5F5;
    padding-bottom:80px;
}

main{
    padding:15px;
}

.banner-slider{

    width:100%;

    margin-bottom:20px;
}

.banner-slider img{

    width:100%;

    border-radius:5px;
}

.categoria{

    margin-bottom:25px;
}

.categoria h2{

    color:#2E7D7A;

    margin-bottom:10px;
}

.produtos-grid{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:10px;
}

.produto{

    background:white;

    border:1px solid #8ED3CF;

    padding:8px;

    text-align:center;

    cursor:pointer;

    transition:0.3s;
}

.produto:hover{

    transform:scale(1.03);
}

.produto img{

    width:100%;

    height:90px;

    object-fit:contain;
}

.produto h3{

    font-size:12px;

    margin-top:5px;

    color:#444;
}

.produto p{

    color:#2E7D7A;

    font-weight:bold;

    margin-top:4px;
}