* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f6ffff;
    max-width: 430px;
    margin: auto;
    padding-bottom: 70px; /* para páginas com footer */
}

header {
    background: #bdeeee;
    padding: 20px;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo h1 {
    color: #24aeb3;
    font-size: 42px;
}

.topo i {
    font-size: 30px;
    color: #24aeb3;
}

.pesquisa {
    margin-top: 20px;
    position: relative;
}

.pesquisa input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.pesquisa i {
    position: absolute;
    right: 18px;
    top: 15px;
    font-size: 20px;
    color: #24aeb3;
}

.banner img {
    width: 100%;
    padding: 15px;
}

.categoria {
    padding: 15px;
}

.categoria h2 {
    color: #248d91;
    margin-bottom: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card {
    border: 2px solid #8fd9db;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: white;
    transition: .2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 90px;
    object-fit: contain;
}

nav {
    position: sticky;
    bottom: 0;
    background: #bdeeee;
    display: flex;
    justify-content: space-around;
    padding: 18px;
    margin-top: 20px;
}

nav i {
    font-size: 28px;
    color: #2aaeb2;
}

.ativo {
    background: white;
    padding: 12px;
    border-radius: 50%;
}

.logo {
    width: 170px;
    height: auto;
}