body{
    background: #9EDFD9;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:410px;
    height:916px;
}

.logo-area{
    text-align:center;
    margin-bottom:120px;
    margin-top:120px;
}

.logo-area img{
    width:310px;
}

.login-card{
    background:white;
    border-radius:25px 25px 0 0;
    padding:30px 30px 40px 30px; 
    margin-top:50px;
}

.login-card h2{
    text-align:center;
    color:#2A7F7F;
    margin-bottom:25px;
}

.login-card form{
    display:flex;
    flex-direction:column;
    gap:5px;
}

input{
    padding:12px;
    border:none;
    background:#f2f2f2;
    border-radius:6px;
}

label{
    color:#2A7F7F;
    font-size:14px;
    font-weight: bold;
}

a{
    text-decoration:none;
    color:#2A7F7F;
    font-weight: bold;
    text-align:right;
    margin-bottom:15px;
}

p{
    text-align:center;
    color:#2A7F7F;  
}

button{
    height:45px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button[type="submit"]{
    background:#4CC7C0;
    color:white;
}

.separador{
    text-align:center;
    margin:15px 0;
    font-weight: bold;
    color:#2A7F7F;
}

.google-btn,
.apple-btn{
    width:100%;
    margin-bottom:10px;
    background:white;
    border:1px solid #2A7F7F;
    color:#2A7F7F;
    align-items:center;
    display:flex;
    justify-content:center;
}

.google-btn img,
.apple-btn img{
    width:20px;
    margin-right:10px;
}