<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="footer.js"></script>
</head>

<body>
    <footer>

        <a href="./public/home.html">
            <i class="fa-solid fa-house"></i>
        </a>

        <a href="./public/carrinho.html">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>

        <a href="./public/notificacoes.html">
            <i class="fa-regular fa-bell"></i>
        </a>

        <a href="./public/favoritos.html">
            <i class="fa-regular fa-heart"></i>
        </a>

    </footer>
</body>

</html>