.footer-nav{

    position:fixed;

    bottom:0;

    width:100%;

    max-width:390px;

    background:#A7E4DF;

    display:flex;

    justify-content:space-around;

    align-items:center;

    padding:12px 0;
}

.footer-nav a{

    text-decoration:none;

    font-size:28px;

    color:#37AFA8;
}