* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f6ffff;
    max-width: 430px;
    margin: auto;
}

header {
    background: #bdeeee;
    padding: 20px;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo h1 {
    color: #24aeb3;
    font-size: 42px;
}

.topo i {
    font-size: 30px;
    color: #24aeb3;
}

.logo {
    width: 170px;
    height: auto;
}

.pesquisa {
    margin-top: 20px;
    position: relative;
}

.pesquisa input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.pesquisa i {
    position: absolute;
    right: 18px;
    top: 15px;
    font-size: 20px;
    color: #24aeb3;
}