*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background:#bdeeee;
    padding:20px;
}

.topo{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.btn-menu{
    border:none;
    background:none;
    cursor:pointer;
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.btn-menu i{
    font-size:30px;
    color:#24aeb3;
}

.logo{
    width:170px;
    height:auto;
}

.perfil{
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
}

.perfil i{
    font-size:30px;
    color:#24aeb3;
}

.pesquisa{
    margin-top:20px;
    position:relative;
}

.pesquisa input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:30px;
    box-shadow:0 3px 10px rgba(0,0,0,.2);
}

.pesquisa i{
    position:absolute;
    right:18px;
    top:15px;
    font-size:20px;
    color:#24aeb3;
}