.product-card{

    border:1px solid #cfeeee;

    background:white;

    padding:5px;

    text-align:center;
}

.product-card img{

    height:70px;

    object-fit:contain;
}

.product-card p{

    font-size:12px;

    margin-top:5px;
}