<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="overlay"></div>

<aside class="menu">

    <div class="topo">

        <button class="btn-voltar">
            <i class="fa-solid fa-arrow-left"></i>
        </button>

    </div>

    <nav>

        <a href="../../public/brinquedos.html">
            Brinquedos
            <i class="fa-solid fa-chevron-right"></i>
        </a>

        <a href="../../public/racao.html">
            Ração
            <i class="fa-solid fa-chevron-right"></i>
        </a>

        <a href="../../public/camas.html">
            Camas
            <i class="fa-solid fa-chevron-right"></i>
        </a>

        <a href="../../public/acessorios.html">
            Acessórios
            <i class="fa-solid fa-chevron-right"></i>
        </a>

        <a href="../../public/aquaticos.html">
            Aquáticos
            <i class="fa-solid fa-chevron-right"></i>
        </a>

        <a href="../../public/roedores.html">
            Roedores
            <i class="fa-solid fa-chevron-right"></i>
        </a>

        <a href="../../public/aves.html">
            Aves
            <i class="fa-solid fa-chevron-right"></i>
        </a>

    </nav>

</aside>
</body>
</html>